.cart-section {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10rem; */
}

.vector-img-section {
    position: fixed;
    top: -20rem;
    right: -20rem;
    width: 45rem;
    height: 45rem;
    background-color: var(--bg-color1);
    border-radius: 50%;

    /* position: fixed;
    top: 0rem;
    right: 0;
    width: 25rem;
    height: 100vh;
    background-color: var(--bg-color1); */

    /* position: fixed;
    top: -19rem;
    right: -19rem;
    width: 45rem;
    height: 45rem;
    background-color: var(--bg-color1);
    border-radius: 50%; */
}

.cart-section h1{
    margin-top: 3rem;
    text-decoration: underline;
}

.vector-imgContainer {
    width: 16rem;
    height: 16rem;
    bottom: 1rem;
    left: -1rem;
    position: absolute;
}

.vector-imgContainer img {
    width: 100%;
    height: 100%;
}

.cart {
    width: 100%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart ul li {
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: green;
}

.cart-owner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.cart-owner-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 3rem; */
}

.cart-owner-name img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
}

.cart-owner-name p {
    margin-left: 10px;
    font-family: cursive;
    font-weight: 100;
    opacity: 0.9;
}

.cart-save-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-save-icon {
    font-size: 17px;
    margin-left: 10px;
}

.cart-controls-btn {
    display: flex;
    justify-content: space-between;
}

.clear-btn {
    padding: 7px 10px;
    border: none;
    background: linear-gradient(30deg, red 75%, rgba(255, 0, 0, 0.433) 20%);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
}

.clear-btn:hover {
    background: linear-gradient(30deg, red 75%, black 20%);
}

.cart-itemsPrice {
    max-width: 15rem;
    background-color: var(--light-bg-color1);
    padding: 1rem;
    border-radius: 10px;
    align-self: flex-end;
    margin-top: 1.5rem;
}

.order-subtotalPrice, .order-shipping-fee, .order-totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.order-subtotalPrice p, .order-shipping-fee p, .order-totalPrice p{
    font-family: cursive;
    opacity: 0.6;
}

.order-subtotalPrice h4, .order-shipping-fee h4, .order-totalPrice h4{
    font-family: cursive;
    opacity: 0.8;
    font-size: 15px;
}

.no_items_found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no_items_found h2 {
    font-size: 25px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.no_items_found  a {
    text-decoration: none;
    color: white;
}

.no_items_found a button {
    margin-top: 2rem;
    align-self: center;
    padding: 10px 20px;
}
